/* 这是引入了一些字体 */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* 当用户手动导航或者 CSSOM scrolling API 触发滚动操作时 */
  scroll-behavior: smooth; 
}

body {
  min-height: 100vh;
  overflow: scroll;
  background: linear-gradient(#e5ad6d, #c1ce5c);
}

::-webkit-scrollbar {
  display: none; /* 不显示滚动条 */
}

a {
  text-decoration: none; /* 去除链接下划线 */
  color: inherit; /* 继承父元素颜色，避免链接变成默认的蓝色 */
}

.info-box {
  position: fixed; /* 固定定位，使其在屏幕右侧 */
  top: 140px; /* 垂直居中 */
  right: 20px; /* 距离右侧20px */
  width: 390px; /* 容器宽度 */
  height: 600px; /* 容器高度 */

  background-image: url('images/beauty.png'); /* 背景图片 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px;
  border-radius: 15px; /* 圆角 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 给框加点阴影 */
  overflow-y: scroll; /* 允许垂直滚动 */
  overflow-x: hidden; /* 禁止水平滚动 */
  z-index: 30;
}

.info-box img {
    width: 350px; /* 图片宽度 */
    border-radius: 10px; /* 图片圆角 */
    margin-bottom: 15px; /* 图片和文字之间的间距 */
}

.info-box p {
    color: #f3e7e7; /* 文字颜色 */
    font-size: 18px; /* 字体大小 */
    margin: 0px; /* 去掉p标签默认的外边距 */
    word-wrap: break-word; /* 允许单词超出容器宽度时换行 */
    word-break: break-all; /* 强制在任何字符间断行，避免内容溢出 */
}

.info-box h1 {
  color: #ffffff; /* 文字颜色 */
  font-size: 35px; /* 字体大小 */
  margin: 0; /* 去掉m标签默认的外边距 */
  text-align: center; /* 水平居中 */
  display: block; /* 确保m元素是块级元素，能占满一行 */
  width: 100%; /* 设置宽度为100%确保居中效果 */
  letter-spacing: 10px; /* 字符间距 */
  margin-bottom: 30px; /* 增加标题和下面文字的间距 */
}

.info-box h2 {
  color: #eae6e6; /* 文字颜色 */
  font-size: 15px; /* 字体大小 */
  margin: 0; /* 去掉m标签默认的外边距 */
  letter-spacing: 0px; /* 字符间距 */
  margin-bottom: 10px; 
  text-decoration: none; /* 去掉下划线 */
  color: #eff4f5;        /* 设置链接文字颜色 */
  cursor: pointer;
  padding-left: 20px;
}

.info-box h2:hover {
  color: #09d1cb87;        /* 鼠标悬停时更改颜色 */
}

.blog-box {
  display: flex;
  width: 1000px; /* 容器宽度 */
  height: 240px; /* 容器高度 */
  background-color: rgba(235, 241, 242, 0.299);
  padding: 20px;
  margin: 20px 0;
  border-radius: 15px; /* 圆角 */
  left: 40px; /* 距离右侧20px */
}

.blog-box .left {
  flex: 3;
  max-width: 500px;
  margin-right: 20px;
}

.blog-box .left img {
  width: 100%;
  height: auto;
  border-radius: 15px; /* 圆角 */
}

.blog-box .right {
  flex: 4;
  word-wrap: break-word; /* 自动换行 */
}

header {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

header .logo img {
  width: 100px; /* 或根据需要设置合适的大小 */
  height: auto; /* 保持图片的比例 */
}

.welcome {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase; /* 大写 */
  letter-spacing: 2px; /* 字符间距 */
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #000000, transparent);
  z-index: 20;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit CSS 属性指定可替换元素（例如：<img> 或 <video>）的内容应该如何适应到其使用高度和宽度确定的框。 */
  object-fit: cover;
  pointer-events: none;
}

section img#moon {
  /* mix-blend-mode CSS 属性描述了元素的内容应该与元素的直系父元素的内容和元素的背景如何混合。 */ 
  mix-blend-mode: screen;
}

section img#mountains_front {
  z-index: 10;
}

#text {
  font-size: 50px;
  position: relative;
  letter-spacing:30px;
  text-transform:uppercase;
  text-align: center;
  line-height:0.2em;
  outline: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
  animation: textanimate 5s linear infinite;
}
@keyframes textanimate{
  0%,21%,31%,51%,60%,80%,90%,92%{
    color: #0e3742;
  }
  20%,30%,50%,60%,80%,90%,100%{
    color:#fff;
    text-shadow: 0 0 10px #03bcf4,0 0 20px #03bcf4,
    0 0 40px #03bcf4,0 0 80px #03bcf4;
  }
}

#road{
    z-index: 2;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: 
  linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(250px);
}
#btn:hover{
  animation: animate 8s linear infinite;
}
#btn::before{
  content: '';
  position: absolute;
  inset: -5px;
  z-index: -1;
  background: 
  linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
}
#btn:hover::before{
  filter: blur(20px);
  opacity: 1;
  animation: btnanimate 8s linear infinite;
}

@keyframes btnanimate{
  from{
    background-position: 0%;
  }
  to{
    background-position: 400%;
  }
}

.sec {
  position: relative;
  padding: 100px;
  background: #000000ad;
}

.sec h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 8px; /* 增加标题和下面文字的间距 */
  letter-spacing: 2px; /* 字符间距 */
}


