/* 这是引入了一些字体 */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* 当用户手动导航或者 CSSOM scrolling API 触发滚动操作时 */
    scroll-behavior: smooth;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -2;
    /* 背景放在最底层 */
}

/* 页面整体样式 */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* 盒子样式 */
.box {
    position: absolute;
    width: 300px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(227, 149, 32); /* 设置字体颜色为黑色 */
    border-radius: 10px;
    z-index: 3;
    padding: 18px; /* 设置组件与边框之间的距离 */
    box-sizing: border-box; /* 确保padding不会影响元素的大小 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 让容器的所有子元素（图片和文本）默认左对齐 */
    background-size: cover; /* 让背景图片填充整个容器 */
    background-position: center; /* 背景图片居中显示 */
}
.box img {
    width: 250px; /* 设置图片宽度为250px */
    height: 150px; /* 设置图片高度为150px */
    border-radius: 10px; /* 设置图片圆角 */
    object-fit: cover; /* 保证图片按比例填充区域 */
    align-self: center; /* 使图片水平居中 */
    margin-bottom: 15px; /* 给图片与文本之间留一点空间 */
}
.box .text1 {
    font-weight: bold;
    font-size: 18px; /* 设置字体大小 */
    margin-left: 5px; /* 设置文本与左边框的距离为5px */
    text-align: left; /* 使文本左对齐 */
}

/* 左侧盒子 */
.box.left {
    left: 50px;
    top: 50px;
}
/* 右侧盒子 */
.box.right {
    right: 50px;
    top: 50px;
}

/* 中间盒子 */
.box_center {
    position: absolute; /* 绝对定位 */
    left: 50%;          /* 左边距设置为 50% */
    top: 50%;           /* 上边距设置为 50% */
    width: 800px;       /* 宽度为 500px */
    height: 100vh;      /* 高度为视口的高度 */
    transform: translate(-50%, -50%); /* 通过平移使盒子居中 */
    background-color: rgba(255, 255, 255, 0.8); /* 白色半透明背景 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    border-radius: 5vmin;   
    overflow-y: scroll; /* 保持内容可滚动 */
    padding: 30px; /* 设置组件与边框之间的距离 */
    box-sizing: border-box; /* 确保padding不会影响元素的大小 */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 让容器的所有子元素（图片和文本）默认左对齐 */
    z-index: 3;
    color: rgb(0, 0, 0);
}
.box_center::-webkit-scrollbar {
    display: none; /* 对Webkit内核浏览器有效（Chrome, Safari, Edge） */
}

.box_center img {
    width: 600px; /* 设置图片宽度为250px */
    height: 300px; /* 设置图片高度为150px */
    border-radius: 10px; /* 设置图片圆角 */
    object-fit: cover; /* 保证图片按比例填充区域 */
    align-self: center; /* 使图片水平居中 */
    margin-bottom: 15px; /* 给图片与文本之间留一点空间 */
}
.box_center .h1 {
    font-weight: bold;
    font-size: 18px; /* 设置字体大小 */
    margin-left: 5px; /* 设置文本与左边框的距离为5px */
    text-align: left; /* 使文本左对齐 */
}
.box_center .h2 {
    font-size: 18px; /* 设置字体大小 */
    margin-left: 5px; /* 设置文本与左边框的距离为5px */
    text-align: left; /* 使文本左对齐 */
}
a {
    position: absolute;
    left: 95px;
    bottom: 15px; /* 距离屏幕底部 50px */
    padding: 10px 30px;
    margin: 35px 0; /* 这个可能不需要，因为已经使用了 absolute 定位 */
    color: #21ebff;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px; /* 增加字母之间的间距 */
    overflow: hidden;
    transition: .5s;
    -webkit-box-reflect:below 1px linear-gradient(transparent, #0003);
    z-index: 3;
}
a:hover{
    background-color:
    #ff21c0;
    color: #111;
    box-shadow:0 0 50px
    #ff21c0;
    transition-delay: .2s;
}
a::before{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    height: 10px;
    border-left:2px solid #ff21c0;
    border-top:2px solid #ff21c0;
    transition: .5s;
}
a::after{
    content:"";
    position: absolute;
    bottom:0;
    right:0;
    width: 10px;
    height: 10px;
    border-bottom:2px solid #ff21c0;
    border-right:2px solid #ff21c0;
    transition: .5s;
}
a:hover::before, a:hover::after{
    width: 100%;
    height: 100%;
}
#btn{
    position: absolute;
    right: 95px;
    bottom: 15px; /* 距离屏幕底部 50px */
    padding: 10px 95px;
    margin: 35px 0; /* 这个可能不需要，因为已经使用了 absolute 定位 */
    transition: 0.5s;
    z-index: 3;
}